button{
    border: none;
}
#box{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    color: white;
    background-color: darkblue
}

.mycls{
    color: red;
}

.newclass{
    background-color: green;
}