@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.main {
  height: 70vh;
  background-image: url(../Netflixclone/Assets/Images/bg.jpg);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
}

.main .box {
  position: absolute;
  top: 0;
  height: 70vh;
  width: 100%;
  opacity: 0.54;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60vw;
  margin: auto;
  height: 70px;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  flex-direction: column;
  font-size: 24px;
  gap: 17px;
  padding: 0 30px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-family: "Noto Sans", sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.separateline {
  height: 8px;
  background-color: rgb(41, 41, 41);
}

.btn {
  padding: 4px 8px;
  font-weight: bold;
  color: white;
  background-color: rgba(251, 249, 249, 0.079);
  border: 1px solid rgba(156, 148, 148);
  border-radius: 4px;
  cursor: pointer;
  gap: 2px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.btn-redsi {
  background-color: red;
  color: white;
}

.btn-redgs {
  background-color: red;
  color: white;
  font-size: 20px;
  padding: 3px 24px;
  border-radius: 4px;
  font-weight: 400px;
}

.main input {
  font-size: 11px;
  font-weight: 200;
  padding: 7px 101px 8px 14px;
  color: white;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.6);
  border: 2px solid rgba(205, 192, 192, 0.5);
}
.first {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70vw;
  color: white;
  align-items: center;
}

.secimg {
  position: relative;
}
.secimg img {
  width: 555px;
  position: relative;
  z-index: 10;
}
.secimg video {
  position: absolute;
  top: 116px;
    right: 72px;
    width: 410px;
}
section.first div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 45px;
  font-weight: bolder;
  font-family: "Noto Sans", sans-serif;
}
section.first > div :nth-child(2) {
  font-family: "Martel Sans", sans-serif;
  font-size: 19px;
  font-weight: border;
}
.secimg2 {
  position: relative;
}
.secimg2 img {
  width: 555px;
  position: relative;
  z-index: 10;
}
.secimg2 video {
  position: absolute;
  top: 68px;
  right: 103px;
  width: 361px;
}
.faq h2 {
  font-size: 48px;
  text-align: center;
}
.faq {
  font-size: 24px;
  font-family: "Martel Sans", sans-serif;
  background-color: black;
  color: white;
  padding: 30px;
}
.faqbox:hover {
  background-color: #414141;
}
.faqbox {
  transition: all 0.5s ease-out;
  font-size: 24px;
  font-family: "Martel Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 40vw;
  margin: 12px auto;
  cursor: pointer;
}
.faqbox svg {
  padding: 9px;
}
@media screen and (max-width: 1200px) {
  nav {
    max-width: 90vw;
  }
  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .first {
    flex-wrap: wrap;
  }
  .secimg img {
    width: 305px;
  }
  .secimg video {
        width: 273px;
    top: 50px;
    right: 17px;
}
  }
  .hero {
    font-size: 18px;
  }

  .hero > :nth-child(2) {
    font-size: 34px;
  }

  footer {
    max-width: 90vw;
  }
  .footeritem {
    align-items: center;
  }
}
footer {
  font-family: "Martel Sans", sans-serif;
  color: white;
  margin: auto;
  max-width: 70vw;
  padding: 14;
}

footer a {
  font-size: 12px;
  color: white;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  color: white;
}

@media screen and (max-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}
.footeritem {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

footer .ques {
  padding: 34px 0;
}
